/*
* Third Party
*/
@import "bower_components/normalize-css/normalize.css";
@import "bower_components/slick-carousel/slick/slick.css";

/*
 * jQuery vendor plugins
 */
@import "src/style/vendor/jquery.fancybox.css";

/*
* Custom
*/

/* Fonts*/
@font-face {
	font-family: 'Comfortaa';
	src: url('/fonts/Comfortaa-Regular.ttf');
}

/*Colors*/
$headerbg: #000;
$menutext: #fff;
$menubutton: #fff55a;
$decorbg: #000;
$text: #222;
$textinvert: #fff;
$sectionbg: #000;
$modal: #191919;
$utp3text: #212121;

/* Mixins */
@mixin respond-to($media) {
	@if $media == tablets {
		@media screen and (max-width: 768px) { @content; }
	}
	@else if $media == largetablets {
		@media all and (max-width: 1024px) { @content; }
	}
	@else if $media == largephone {
		@media all and (max-width: 480px) { @content; }
	}
	@else if $media == smallphone {
		@media all and (max-width: 320px) { @content; }
	}
}


/*Common Styles*/
html {
	font-size: 14px;
}

body{
	font-family: Comfortaa, Helvetica, Verdana, sans-serif;
	color: $text;
	width: 100%;
}

.wrapper {
	max-width: 1140px;
	margin: 0 auto;
	width: 100%;

	@include respond-to(largetablets) {
		max-width: 980px;
	}

	@include respond-to(tablets) {
		max-width: 750px;
	}

	@include respond-to(largephone) {
		max-width: 400px;
	}

	@include respond-to(smallphone) {
		max-width: 300px;
	}
}

.indents {
	padding: 70px 0;
}

section header {
	padding: 0 20px;
}

.textlist {
	margin-top: 30px;
	padding: 0 20px;
}

.textlist span {
	text-transform: uppercase;
	font-size: 1.143rem;
	font-weight: 700;
}

.textlist p {
	text-align: justify;
	font-weight: 300;
	line-height: 1.5;
}

.section-overlay {
	position: absolute;
	top: 0;
	height: 100%;
	width: 100%;
	background: linear-gradient(to bottom, #0e1428 0%, rgba(14,20,40,0.72) 66%, transparent 140%);
}

/* Modals */
.fancybox-toolbar { // For showing close button always
	opacity: 1 !important;
	visibility: visible !important;
}

.modal {
	border-radius: 20px;
	color: $modal;
	padding: 30px;
}

.modal-heading {
	font-size: 1.071rem;
	text-transform: uppercase;
	letter-spacing: 1.5px;
	line-height: 1.4;
}

.modal-fields {
	padding: 0 0 20px;

	input {
		display: block;
		border: none;
		border-bottom: 1px solid $modal;
		outline: none;
		height: 46px;
		padding: 10px 25px 10px 0;
		width: 100%;
		box-sizing: border-box;
		margin: 20px 0;
		font-family: inherit;

		&.error{
			border-bottom: 1px solid red;
			&::-webkit-input-placeholder { /* Chrome/Opera/Safari */
				color: red;
			}
			&::-moz-placeholder { /* Firefox 19+ */
				color: red;
			}
			&:-ms-input-placeholder { /* IE 10+ */
				color: red;
			}
			&:-moz-placeholder { /* Firefox 18- */
				color: red;
			}
		}
	}
}

.modal-button {
	background-color: transparent;
	border: 1px solid $modal;
	border-radius: 50px;
	padding: 14px 30px;
	font-family: inherit;
	outline: none;
	cursor: pointer;
}

.mobileMenu {
	background-color: $headerbg;
	border-radius: 0;
	height: 100%;
	width: 100%;
	margin: 0;

	.menu-holder {
		display: block;
		text-align: center;

		li{
			display: block;
			padding: 10px;

			a {
				font-size: 1.3rem;
				outline: none;
			}
		}
	}

	.menu-button {
		display: block;
		margin: 0 auto;
	}
}

.callbackFbox {
	max-width: 300px;
	position: relative;

	.modal-heading {
		text-align: center;
	}

	.modal-button {
		width: 100%;
	}
}

.succes{
	display: none;
	width:100%;
	height: 100%;
	position: absolute;
	text-align: center;
	background-color: #fff;
	top: 0;
	left:0;

	&_heading {
		font-weight: 700;
	}

	&-holder{
		font-size: 1.4rem;
		height: 138px;
		top: calc(50% - 69px);
		position: relative;

		p {
			font-size: 1.2rem;
			line-height: 1.5;
		}
	}
}

.order-products {
	margin: 20px 0;
	position: relative;
	max-height: 190px;
	overflow: auto;
}

.order-product {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 70px;
	padding: 5px 0;
	border-bottom: 1px solid #cecece;

	&:last-of-type {
		border-bottom: none;
	}

	&:hover .remove{
	/*	visibility: visible; */
	}

	&_img {
		height: 100%;

		img{
			height: 100%;
		}
	}

	&_counter {

		.arrow {
			width: 8px;
			height: 8px;
			border-top:2px solid #6b6b6b;
			border-right: 2px solid #6b6b6b;
			margin: 0 auto;
			cursor: pointer;
		}

		.less {
			transform: rotate(-45deg);
		}

		.more {
			transform: rotate(135deg);
		}

		.quantity {
			padding: 5px 0 3px;
			text-align: center;
		}
	}

	.remove{
		visibility: hidden;
		cursor: pointer;
		position: absolute;
		right: 0;

		svg {
			fill: $text;
			width: 20px;
		}
	}

	&_title {
		max-width: 40%;
		line-height: 1.4;
		text-align: center;
	}

	&_price {
		margin-right: 25px;
	}
}

.order-total {
	margin: 10px 0;
	text-align: right;

	&_text {
		font-weight: bold;
		font-size: 1.1rem;
		padding-right: 20px;
	}
}


/* Header */
.menu-burger {
	display: none;
	position: fixed;
	top: calc(97px / 2 - 17px);
	right: 50px;
	background: url(../img/burger.svg) no-repeat, #000;
	background-size: 71%;
	background-position: center;
	height: 35px;
	width: 35px;
	cursor: pointer;
	border-radius: 50%;
	z-index: 9999;
	outline: none;
	-webkit-backface-visibility: hidden; //stop flickering when transform animating

	@include respond-to(tablets) {
		display: block;
	}
}

.menu-filler {
	height: 97px;
	display: none;
}

.menu {
	width: 100%;
	top:0;
	display: flex;
	height: 97px;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: space-between;
	background-color: $headerbg;
	padding: 10px 50px;
	box-sizing: border-box;
	position: relative;
	z-index: 4;
	transition: top .8s ease;
	-webkit-backface-visibility: hidden; //stop flickering when transform animating
}

.logo-holder {
	background: url(../img/logo.png) no-repeat;
	background-size: contain;
	height: 77px;
	width: 100px;
	float: left;
	flex-shrink: 0;
}

.menu-holder {

	a {
		color: $menutext;
		text-transform: uppercase;
		text-decoration: none;
		opacity: 0.8;
		font-size: .857rem;
		font-weight: 600;
		letter-spacing: 1.2px;
	}

	ul {
		padding-left: 0;

		&:hover li{
			opacity: 0.5;
		}
	}

	li {
		display: inline-block;
		padding: 5px 15px;
		transition: opacity .5s ease;

		&:hover {
			opacity: 1 !important;
		}
	}

	@include respond-to(tablets) {
		display: none;
	}
}

.menu-button {
	height: 42px;
	width: 173px;
	color: $menubutton;
	border: 1px solid currentColor;
	text-align: center;
	line-height: 42px;
	box-sizing: border-box;

	a {
		display: block;
		height: 100%;
		text-decoration: none;
		box-sizing: border-box;
		outline: none;
		color: $menubutton;
	}


	@include respond-to(tablets) {
		display: none;
	}

}



.videobg {
	top: -60px;
	position: absolute;
	z-index: -1;

	@include respond-to(largetablets){
		display: none;
	}
}

.player-img {
	background: url(https://img.youtube.com/vi/ylN_btHE_zo/maxresdefault.jpg) no-repeat;
	background-size: cover;
	height: 100%;
	display: none;
	position: absolute;
	z-index: -1;

	@include respond-to(largetablets){
		display: block;
		width: 100%;
	}

}

.header_overlay {
	height: calc(100vw / 16 *9 - 215px);
	width: 100%;
	position: absolute;
	background: linear-gradient(to bottom, #000 0%, rgba(0,0,0,0.83) 10%, transparent 140%);
	z-index: 1;

	@include respond-to(largetablets){
		 height: (570px - 97px);
	 }

	@include respond-to(largephone){
		height: 100%;
	}


}


.header {
	height: 100vh;
	position: relative;
	overflow: hidden;
	max-height: calc(100vw / 16 *9 - 120px);

	@include respond-to(largetablets){
		height: 570px;
		max-height: none;
	}

	@include respond-to(tablets) {
		height: auto;
	}
}

.info-holder {
	position: absolute;
	right: 25px;
	z-index: 2;
	margin-top: 30px;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	padding-top: 10px;
	color: $menutext;
	margin-bottom: 40px;

	@include respond-to(tablets){
		position: relative;
		left: 20px;
	}

	@include respond-to(largephone){
		width: 295px;
		flex-wrap: wrap;
		right: 0;
		left: 0;
		margin: 30px auto 40px;
	}

	.icons {
		height: 25px;
		width: 25px;
		fill: currentColor;
		margin-left: 20px;
		opacity: 0.6;
	}

	.info {
		margin-right: 25px;
		padding: 0 15px;

		@include respond-to(tablets){
			margin-right: 0;
			padding: 0 0 0 15px;
		}


		span {
			font-size: 1.07rem;
			font-weight: 700;
			line-height: 1.5;
			letter-spacing: 1.5px;

		}

		p {
			margin: 0;
			font-size: .9rem;
			line-height: 1.2;
			opacity: .6;
		}
	}
}

.info.item2, .icons.phone{
	@include respond-to(largephone){
		margin-top: 20px;
	}
}



.header-desc {
	position: absolute;
	z-index: 2;
	text-align: center;
	width: 100%;
	max-width: 780px;
	margin: 0 auto;
	left: 0;
	right: 0;
	bottom: 40px;
	color: $menutext;
	padding: 0 20px;
	box-sizing: border-box;

	@include respond-to(tablets){
		position: relative;
		bottom: auto;
		margin-bottom: 30px;
	}

	h1 {
		font-size: 2.2rem;
		font-weight: 400;
		margin: 0 0 30px;
	}

	p {
		margin: 0;
		font-size: 1.071rem;
		text-transform: uppercase;
		font-weight: 100;
		letter-spacing: 1.5px;
		line-height: 1.4;
	}
	.spinner-icon {
		display: inline-block;
		height: 32px;
		width: 32px;
		fill: currentColor;
		margin-top: 30px;
	}
}
	



/* Products */

.product{
	width: 33.3333333333%;
	padding: 40px;
	box-sizing: border-box;

	@include respond-to(tablets) {
		width: 50%;
	}

	@include respond-to(largephone) {
		width: 100%;
	}

	@include respond-to(smallphone) {
		padding: 20px;
	}

	&:empty {
		padding: 0;
	}

	&_img-holder {
		transition: transform .5s ease;

		img {
			width: auto;
			height: 252px;
			max-width: 100%;
		}

		&:hover {
			transform: scale(1.1);
		}

	}

	h4 {
		padding-top: 30px;
		font-weight: 700;
		letter-spacing: .3px;
		font-size: 1.143em;
		line-height: 1.188;
		margin: 0;
		height: 70px;
	}

	p {
		opacity: .75;
		margin:0 0 10px;
		font-size: .929rem;
		line-height: 1.692;
		height: 190px;

	}

	&_buy-holder {
		margin-top: 15px;

		a {
			background-color: transparent;
			border: 1px solid $decorbg;
			padding: 12px 28px;
			border-radius: 50px;
			font: inherit;
			outline: none;
			cursor: pointer;
			margin: 10px 0;
			text-decoration: none;
			color: inherit;
			display: inline-block;
		}
	}

	&_price {
		float: right;
		font-weight: 700;
		letter-spacing: .3px;
		font-size: 1.143em;
		line-height: 1.188;
		margin-top: 23px;
	}
}

.products-holder {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.sect-heading {
	font-size: 3.429rem;
	line-height: 1.1;
	text-align: center;
	margin: 0 auto 20px;

	@include respond-to(largephone) {
		font-size: 2.5rem;
	}
}

.sect-desc {
	font-size: 1.071rem;
	text-transform: uppercase;
	letter-spacing: 1.5px;
	line-height: 1.4;
	text-align: center;
	max-width: 820px;
	margin: 0 auto 30px;

	&:after {
		content: '';
		display: block;
		margin: 0 auto;
		width: 30px;
		height: 2px;
		background: $decorbg;
		position: relative;
		top: 20px;
	}
}


/* About Section */
.about {
	background-color: $sectionbg;
	font-size: 0;
	text-align: center;


	&_gif {
		background: url(../img/hand-spinner.gif) no-repeat center ;
		display: inline-block;
		height: 361px;
		background-size: contain;
		vertical-align: top;
		width: 100%;
		max-width: 390px;

		@include respond-to(largetablets) {
			width: 50%;
		}

		@include respond-to(tablets) {
			width: 100%;
			max-width: none;
			background-position: center;
		}

		@include respond-to(largephone) {
			height: 200px;
		}
	}

	&_desc {
		display: inline-block;
		vertical-align: top;
		color: $textinvert;
		padding: 0 20px;
		box-sizing: border-box;
		width: 100%;
		max-width: 525px;

		@include respond-to(largetablets) {
			width: 50%;
		}

		@include respond-to(tablets) {
			width: 100%;
			margin-top: 40px;
			max-width: none;
		}

		& > p {
			font-size: 1rem;
			font-weight: 700;
			line-height: 1.857;
			letter-spacing: .3px;
			margin: 0;
		}
	}
}

/* UTP section */

.textblock-holder {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.utp.text-block-holder {
	padding-top: 30px;
}

.textblock {
	width: 33.33333333%;
	padding: 0 10px;
	box-sizing: border-box;
	text-align: center;
	position: relative;

	@include respond-to(tablets){
		width:100%;
		max-width: 400px;
		margin: 0 auto 10px;

		&:last-of-type{
			margin: 0 auto 0;
		}
	}

	

	&_img {
		margin: 0 auto 10px;
		padding: 20px;
	}

	img {
		width: 50px;
		height: 50px;
	}

	span {
		font-weight: 700;
		font-size: .857rem;
		line-height: 1.333;
		letter-spacing: 1.2px;
		text-transform: uppercase;
		display: block;
		max-width: 280px;
		margin: 0 auto;
	}

	p {
		font-size: 1rem;
		margin: 20px auto 0;
		line-height: 1.857;
		letter-spacing: .3px;
		color: rgba(33,33,33,0.8);

	}

}


.lines {
		&:after {
		content: '';
		width: calc(100% - 90px);
		height: 1px;
		position: absolute;
		top: 45px;
		left: calc(50% - -45px);
		background-color: $decorbg;

		@include respond-to(tablets){
			display: none;
		}
	}

	&:last-of-type:after{
		display: none;
	}
}

/* Utp2 section */

.utp2 {
	width: 100%;
	background: url(../img/utp2_bg.jpg) no-repeat;
	background-size: cover;
	background-position: center;;
	padding-top: 80px;
	padding-bottom: 75px;
	position: relative;
	box-sizing: border-box;
	text-align: center;
	color: $menutext;
	


	
	.wrapper {
		position: relative;
	}
}

.utp2-heading {
	font-size: 2.88rem;
}

.utp2-desc {
	font-size: 1.071rem;
	text-transform: uppercase;

	&:after {
		content: '';
		display: block;
		margin: 0 auto;
		width: 30px;
		height: 2px;
		background: $menutext;
		position: relative;
		top: 20px;
	}
}

.utp2-textlist-holder {
	max-width: 660px;
	margin: 0 auto;
	padding-top: 50px;
	text-align: left;

	.textlist p {
		color: rgba(255,255,255,0.8);
	}
}



/* Delivery section */
.delivery-steps {
	display: flex;
	flex-wrap: wrap;
	padding: 50px 0 10px;

	@include respond-to(largephone) {
		padding: 30px 0 10px;
	}
}

.delivery-step {
	width: 25%;
	text-align: center;
	padding: 0 40px;
	box-sizing: border-box;

	@include respond-to(largetablets) {
		padding: 0 20px;
	}

	@include respond-to(tablets) {
		width: 50%;
		padding: 10px 60px;
	}

	@include respond-to(largephone) {
		width: 100%;
		padding: 20px 50px;
	}

	img {
		width: 60px;
		height: 60px;
	}
}

/* Reviews */
.reviews {
	background: url("../img/reviews_bg.jpg") no-repeat center;
	background-size: cover;
	position: relative;
	color: $menutext;

	.sect-desc {
		&:after {
			display: none;
		}
	}

	.wrapper {
		position: relative;
	}
}

.reviews-holder {
	margin: 50px 0 0;
	padding: 0 50px;
	@include respond-to(largephone) {
		padding: 0 20px;
		margin: 30px 0 0;
	}
}

.review {
	text-align: center;
	outline: none;

	&_author {
		display: inline-block;

		&_img {
			border-radius: 50%;
			width: 75px;
			height: 75px;
			overflow: hidden;
			display: inline-block;
			vertical-align: middle;

			img {
				width: 100%;
			}
		}

		span{
			padding: 0 0 0 15px;
			vertical-align: middle;
			font-weight: 700;
			font-size: .857rem;
			line-height: 1.333;
			letter-spacing: 1.2px;
			text-transform: uppercase;

			@include respond-to(largephone) {
				display: block;
				padding: 15px 0 0 0;
			}
		}
	}

	p{
		font-size: 2rem;
		line-height: 1.8;
		font-weight: 700;

		@include respond-to(largephone) {
			font-size: 1.5rem;
		}
	}
}

.slick-next {
	cursor: pointer;
	position: absolute;
	width: 40px;
	height: 40px;
	border-top: 2px solid rgba(255, 255, 255, 0.5);
	border-right: 2px solid rgba(255, 255, 255, 0.5);
	transform: rotate(45deg);
	right:20px;
	top: calc(50% - 60px);

	@include respond-to(largephone) {
		right: 5px;
		width:20px;
		height: 20px;
	}
}

.slick-prev {
	cursor: pointer;
	position: absolute;
	width: 40px;
	height: 40px;
	border-top: 2px solid rgba(255, 255, 255, 0.5);
	border-left: 2px solid rgba(255, 255, 255, 0.5);
	transform: rotate(-45deg);
	left:20px;
	top: calc(50% - 60px);

	@include respond-to(largephone) {
		left: 5px;
		width:20px;
		height: 20px;
	}
}

/* Section Utp3 */

.utp3_desc {
	margin: 0 auto 30px;
	width: 100%;
	max-width: 820px;
	text-align: center;
	color: $decorbg;
	font-size: 1.071rem;
	font-weight: 400;
	text-transform: uppercase;
	box-sizing: border-box;
	letter-spacing: 1.5px;
	line-height: 1.4;
}

.utp3 span {
	color: $utp3text !important; 
}

/* Footer */

.footer {
	width: 100%;
	background: url(../img/footer_bg.jpg) no-repeat;
	background-size: cover;
	background-position: center;
	padding-top: 70px;
	padding-bottom: 70px;
	position: relative;
	box-sizing: border-box;
	text-align: center;
}

.footer_overlay {
	position: absolute;
	top: 0;
	height: 100%;
	width: 100%;
	background: linear-gradient(to bottom, #000 0%, #000 16%, transparent 140%);
	z-index: 1;
}

.footer-container {
	position: relative;
	z-index: 2;
	width: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;

	@include respond-to(tablets) {
		flex-direction: column;
		align-items: center;
	}

}

.footer-logo-holder {
	background: url(../img/logo.png) no-repeat;
	background-size: contain;
	margin-left: 50px;
	height: 95.2px;
	width: 120px;
	flex-shrink: 0;

	@include respond-to(tablets) {
		margin: 0;
	}
}

.footer-menu-holder {
	padding: 0 32px;
	width: 100%;
	max-width: 313px;
	min-height: 46px;
	text-transform: uppercase;
	text-align: left;
	box-sizing: content-box;
	flex-shrink: 0;
	margin-top: -10px;

	@include respond-to(tablets) {
		margin-top: 20px;
		text-align: center;
	}

}

.footer-menu-holder ul {
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	margin: 0;
	padding: 0;

	@include respond-to(tablets) {
		padding-left: 0;
	}
}

.footer-menu-holder li {
	float: left;
	display: inline-block;
	width: 50%;
	height: auto;
	box-sizing: border-box;
	padding: 10px 0;

	transition: opacity .5s ease;

	@include respond-to(tablets) {
		float: none;
		display: list-item;
		text-align: center;
		width: 100%
	}
}

.footer-menu-holder a {
	color: $menutext;
	text-transform: uppercase;
	text-decoration: none;
	opacity: 0.6;
	font-size: .857rem;
	font-weight: 600;
	letter-spacing: 1.2px;
	padding: 10px;
	padding-left: 0;
}

.footer-menu-holder ul:hover li{
	opacity: 0.3;
}


.footer-menu-holder li:hover {
	opacity: 1 !important;
}

.footer-info-holder {
	display: flex;
	flex-wrap: wrap;
	margin-right: 50px;

	@include respond-to(tablets) {
		flex-direction: column;
		align-items: center;
		margin-right: 0;
	}
	
	.info-item {
		padding-right: 30px;
		text-align: left;

		@include respond-to(tablets) {
			text-align: center;
			padding: 20px 0 0;
		}	

		span {
		font-weight: 700;
		font-size: .857rem;
		line-height: 1.333;
		letter-spacing: 1.2px;
		text-transform: uppercase;
		color: $menutext;

		}

		p {
			margin: 0;
			margin-top: 10px;
			font-size: .929rem;
			line-height: 1.231;
			color: rgba(255,255,255,0.65);
		}
	}
}
