/*
* Third Party
*/
@import "bower_components/normalize-css/normalize.css";

/*
* Custom
*/

/* Fonts*/
@font-face {
	font-family: Comfortaa;
	src: url(fonts/Comfortaa-Regular.ttf);
}

/*Colors*/
$headerbg: #000;

/*Common Styles*/
body{
	font-family: Comfortaa, Helvetica, Verdana, sans-serif;
}

.wrapper {
	width: 1140px;
	margin: 0 auto;
}


/* Header */


.menu {
	display: flex;
	height: 97px;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: flex-start;
	justify-content: space-between;
	background-color: $headerbg;
}

.logo-holder {
	background: url(../img/logo.png);
	background-size: contain;
	height: 77px;
	width: 120px;
}

.menu-holder li {
	display: inline-block;
}
